* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
}




.container h1 {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    color: rgb(131, 131, 131);
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
}
.custom-search-result {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

